name: Test
on: [pull_request, workflow_dispatch]
jobs:
  test:
    strategy:
      matrix:
        include:
          # Linux builds
          - os: ubuntu-latest
            arch: aarch64
          - os: ubuntu-latest
            arch: armv7a
          - os: ubuntu-latest
            arch: powerpc64le
          - os: ubuntu-latest
            arch: riscv64
          - os: ubuntu-latest
            arch: s390x
          - os: ubuntu-latest
            arch: x86
          - os: ubuntu-latest
            arch: x86_64
      fail-fast: true
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
      - run: zig build dbustest -Dci --summary all
          
